
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto');

body,
div.body p, div.body span,
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6,
div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar input {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  hyphens: manual;
}

dl.describe > dt,
dl.function > dt,
dl.attribute > dt,
dl.classmethod > dt,
dl.method > dt,
dl.class > dt,
dl.exception > dt {
  background-color: #f3f3f3;
  padding: 1px 10px;
  margin: 5px auto;
}

